<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div class="edit-profile-form">
        <h3>Edit Profile</h3>
        <%= simple_form_for(@user) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :address%>
          <%= f.input :email %>
          <%= f.input :photo, required: true %>
          <%= f.input :photo_cache, as: :hidden %>
       </div>
         <div class="form-actions">
          <%= f.button :submit, "Update", class: "btn-medium" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>







