<div class="container-show">
  <div class="compilation">
    <div>
      <% if current_user.photo.present? %>
        <%= cl_image_tag current_user.photo, :class => "image_profile"%>
        <% else %>
        <%= image_tag "smiley.jpg", :class => "image_profile" %>
        <% end %>
    </div>
    <div class="details_item">
      <ul>
        <li>Name - <%= @user.name %></li>
        <li>Address - <%= @user.address %></li>
        <li>Email - <%= @user.email %></li>
      </ul>
      <div class="text-center">
        <%= link_to "Edit profile", edit_user_path(current_user) %>
      </div>
    </div>
  </div>
</div>



<div class="container-show top">
  <div><h2 class="centered">My rentals requests</h2></div>
  <% @rental_requests.each do |rental| %>
    <div class="main-container">
      <div class="request-owner">
        <h3>Avatar</h3>
        <p>The email of rental requester is <%= rental.user.email %></p>
      </div>
      <div class="rental-details">
        <p>Address <%= rental.address %></p>
        <p>Starts at <%= rental.start_date  %></p>
        <p>Ends at <%= rental.end_date %></p>
        <p>Delivery type <%= rental.delivery_type %></p>
        <p>Price <%= rental.item.price %></p>
      </div>
      <div class="btns">
        <div class="btn-general choice-btn">Accept</div>
        <div class="btn-general choice-btn">Reject</div>
      </div>
    </div>
  <% end %>
</div>


<div class="container-show top">
    <div><h2 class="centered">Rentals and requests I have made</h2></div>
    <% @my_rentals.each do |rental| %>
      <div class="main-container">
        <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
          url(<%= cl_image_path rental.item.photo, height: 300, width: 400, crop: :fill %>);">
        </div>
        <div class="rental-details">
          <p>Delivery address <%= rental.address %></p>
          <p>Starts at <%= rental.start_date  %></p>
          <p>Ends at <%= rental.end_date %></p>
          <p>Delivery type <%= rental.delivery_type %></p>
          <% if (rental.delivery_type == "Express 1-2 days £15") %>
            <% add_value = 15 %>
          <% else %>
            <% add_value = 10  %>
          <% end %>
          <p>Total price <%= (rental.end_date - rental.start_date)*rental.item.price+add_value %> </p>
        </div>
      </div>
    <% end %>
</div>

<div class="row">
  <div class="cards">
    <% @user.items.each do |item| %>
      <div class="col-xs-12 col-sm-4">

        <div class="card-container">

          <div class="card-button-row">
            <div><%= link_to "View", item_path(item), class: "btn-general"%>
            </div>
            <div><%= link_to "Edit", edit_item_path(item), class: "btn-general"%>
            </div>
            <div><%= link_to "Delete", item_path(item), class: "btn-general", method: :delete, data: { confirm: "Are you sure?" } %></div>
          </div>

          <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url(<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill if item.photo.present? %>);">
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>






