<div class="container align-middle content">


  <div class="container-show">
    <div class="compilation">
      <div class="image_profile" style=“background-image: url(<%= cl_image_path "googlelogo_color_120x44dp.png" %>)“>
      </div>
      <div class="details_item">
        <ul>
          <li>Name - <%= @user.name %></li>
          <li>Address - <%= @user.address %></li>
          <li>Email - <%= @user.email %></li>
        </ul>
        <div class="text-center">
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="cards">
      <% @user.items.each do |item| %>
        <div class="col-xs-12 col-sm-4">

          <div class="card-container">

            <div class="card-button-row">
              <div><%= link_to "View", item_path(item), class: "btn-general"%>
              </div>
              <div><%= link_to "Edit", edit_item_path(item), class: "btn-general"%>
              </div>
              <div><%= link_to "Delete", item_path(item), class: "btn-general", method: :delete, data: { confirm: "Are you sure?" } %></div>
            </div>

            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
              url(<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill if item.photo.present? %>);">
            </div>
          </div>

        </div>
      <% end %>
    </div>
  </div>

</div>




