
<div class="container-show padding">
  <div class="centered from-top">
    <% if current_user.photo.present? %>
      <%= cl_image_tag current_user.photo, width: 200, height: 200, radius: :max, crop: :fill %>
    <% else %>
      <%= image_tag "smiley.jpg", width: 200, height: 200, radius: :max, crop: :fill %>
    <% end %>
  </div>
  <div class="personal-details">
    <p class="bold centered"><%= @user.name %></p>
    <div class="centered"><%= link_to "update my details", edit_user_path(current_user), class: "btn-profile" %></div>
    <p class="lighter centered">My address - <%= @user.address %></p>
    <p class="lighter centered">My email - <%= @user.email %></p>
  </div>
</div>

<div class="centered"><%= link_to "create new item", new_item_path, class: "btn-create"%></div>

<div class="container-show top padding">
  <div><h2 class="topped">Requests for my clothes</h2></div>
  <% @rental_requests.each do |rental| %>
    <div class="main-container">
      <div class="request-owner">
        <%= cl_image_tag rental.user.photo, width: 100, height: 100, radius: :max, crop: :scale %>
        <p class="small"><%= rental.user.name %> likes your clothes!</p>
      </div>
      <div class="rental-details">
        <p class="bold centered down">Needed from <%= rental.start_date %> to <%= rental.end_date %></p>
        <p class="lighter centered">Postal address for this item: <%= rental.address %></p>
        <% if (rental.delivery_type == "Express 1-2 days £15") %>
          <% add_value = 15 %>
        <% else %>
          <% add_value = 10 %>
        <% end %>
        <p class="bold float-left down">Total price £<%= (rental.end_date - rental.start_date)*rental.item.price+add_value %></p>
        <p class="float-right down">Delivery type <%= rental.delivery_type %></p>
      </div>
      <div class="btns">
        <div class="btn-general choice-btn">Accept</div>
        <div class="btn-general choice-btn">Reject</div>
      </div>
    </div>
  <% end %>
</div>



<div class="container-show top padding">
  <div><h2 class="topped">Other people's clothes I have requested</h2></div>
  <% @my_rentals.each do |rental| %>
    <div class="main-container">
      <div class="request-owner inset-left">
        <%= link_to item_path(rental.item) do %>
          <%= cl_image_tag rental.item.photo, width: 150, height: 150, radius: 10, crop: :scale %>
        <% end %>
      </div>
      <div class="rental-details">
        <p class="bold centered down">The dates you booked are <%= rental.start_date %> to <%= rental.end_date %></p>
        <p class="lighter centered">The address you asked for it to be sent to: <%= rental.address %></p>
        <% if (rental.delivery_type == "Express 1-2 days £15") %>
          <% add_value = 15 %>
        <% else %>
          <% add_value = 10 %>
        <% end %>
        <p class="bold float-left down">Total price £<%= (rental.end_date - rental.start_date)*rental.item.price+add_value %> </p>
        <p class="float-right down">Delivery type <%= rental.delivery_type %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="centered"><%= link_to "create new item", new_item_path, class: "btn-create"%></div>

<div class="container align-middle content">
  <div class="row">
    <% @user.items.each do |item| %>
    <div class="col-xs-12 col-sm-4">
        <div class="card-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),
            url(<%= cl_image_path item.photo, height: 300, width: 400, crop: :fill if item.photo.present? %>);">
        </div>
        <div class="card-text">
          <%= link_to "View", item_path(item), class: "card-text-1"%>
          <%= link_to "Edit", edit_item_path(item), class: "card-text-2"%>
          <%= link_to "Delete", item_path(item), class: "card-text-3", method: :delete, data: { confirm: "Are you sure?" } %>
        </div>
    </div>
    <%end%>
  </div>
</div>

