
<div class="container-show">
  <div class="compilation">
    <div class="image_item" style="background-image: url(<%= cl_image_path @item.photo unless @item.photo.blank? %>)">
    </div>
    <div class="details_item">
      <ul>
        <li>Size - <%= @item.size %></li>
        <li>Price - <%= @item.price %></li>
        <% if @item.category.length > 0 %>
          <li>Category - <%= @item.category %></li>
        <% end %>
        <li>Description - <%= @item.description %></li>
     </ul>
     <div class="text-center">
      <div class="rent">
        <a href="#" data-toggle="modal" data-target="#rentModal">Rent</a>
      </div>
     </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="rentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="signup-position modal-dialog" role="document">
    <div class="options modal-content">
      <div class="modal-body">
        <%= simple_form_for([@item, @rental]) do |f| %>
        <%= f.error_notification %>
        <h3> Rent </h3>
        <div class="form-inputs">
          <%= f.input :start_date %>
          <%= f.input :end_date %>
          <%= f.input :address, required: true, autofocus: true %>
          <%= f.input :delivery_type, required: true, collection: Rental::DELIVERIES%>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Submit"%>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
