
<div class="container-show">
  <div class="compilation">
    <div class="image_item">
    </div>
    <%= cl_image_tag @item.photo, height: 300, width: 400, crop: :fill %>
    <div class="details_item">
      <ul>
        <li>Size - <%= @item.size %></li>
        <li>Price - <%= @item.price %></li>
        <% if @item.category.length > 0 %>
          <li>Category - <%= @item.category %></li>
        <% end %>
        <li>Description - <%= @item.description %></li>
     </ul>
     <button type="button" class="btn">Rent</button>
    </div>
  </div>
</div>



